@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.animate-show {
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes fadeInOut {
  0%, 30% {
    opacity: 1;
  }
  33%, 97% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes gradient-xy {
  0% {
    background-size: 400% 400%;
    background-position: 0% 0%;
  }
  50% {
    background-size: 200% 200%;
    background-position: 100% 100%;
  }
  100% {
    background-size: 400% 400%;
    background-position: 0% 0%;
  }
}

.animate-gradient-xy {
  animation: gradient-xy 15s ease infinite;
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.word-cycle {
  position: relative;
  display: inline-block;
}

.cycle-word {
  display: inline-block;
  width: 100%;
}

.cycle-word:nth-child(1) {
  animation: fadeInOut 4.5s linear infinite;
}

.cycle-word:nth-child(2) {
  animation: fadeInOut 4.5s linear infinite 1.5s;
}

.cycle-word:nth-child(3) {
  animation: fadeInOut 4.5s linear infinite 3s;
}
